[mysqld@instance01]
datadir=/var/lib/mysql-instance01
socket=/var/lib/mysql-instance01/mysql.sock
log-error=/var/log/mysqld-instance01.log
pid-file=/var/run/mysqld/mysqld-instance01.pid
symbolic-links=0
bind-address=192.168.1.64
port=3307

[mysqld@instance02]
datadir=/var/lib/mysql-instance02
socket=/var/lib/mysql-instance02/mysql.sock
log-error=/var/log/mysqld-instance02.log
pid-file=/var/run/mysqld/mysqld-instance02.pid
symbolic-links=0
bind-address=192.168.1.64
port=3308
